.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}
@media (min-width: 576px){
    #fotoperfil{
        width: 200px;
        border-radius: 100%;
       
    }
}
#nombre{
    font-weight: bold;
    margin-top: 10%;
}