<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Caece</h1> - <h3>Abril a actual</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa fugiat consequatur neque, inventore rerum
                mollitia impedit, unde nostrum, laborum similique totam vero nemo ab accusamus earum error
                necessitatibus possimus maiores?</p>
                <li>
                    <h1>Auditoria SAP</h1> - <h3>Abril a actual</h3>
                </li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa fugiat consequatur neque, inventore rerum
                    mollitia impedit, unde nostrum, laborum similique totam vero nemo ab accusamus earum error
                    necessitatibus possimus maiores?</p>
        </ul>
    </div>
</div>