<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div>
            <h1>Algo 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ad ullam vitae, nam veniam repudiandae doloribus, itaque necessitatibus illum perspiciatis nulla libero distinctio? Quos, esse. Veniam accusantium numquam qui quaerat.</p>
        </div>
        <div>
            <h1>Algo 2</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores laborum quis quidem ipsum sapiente nam molestias iusto iste cupiditate, optio quae nisi alias voluptate, necessitatibus eum sed consequuntur eligendi. Quis.</p>
        </div>
    </div>
</div>